<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net472" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net472" />
  <package id="ServiceStack.Text" version="3.9.38" targetFramework="net472" />
  <package id="Unipluss.Sign.Client" version="1.0.2876" targetFramework="net472" />
</packages>